apiVersion: 1

providers:
  - name: ROS2 Fleet Dashboards
    orgId: 1
    folder: ROS2 AMR Fleet
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ grafana_data_dir }}/dashboards
